@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
      padding: 0%;
      margin: 0%;
      box-sizing: border-box;
      font-family: "Nunito", sans-serif;
}

img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%;
}

:root {
      --bgcolor: #030303;
      --bgcolor_test: #333;
      --color: whitesmoke;
      --padding: 1rem;
      --margin: 1rem;
}

/* || BLOCKS || */

html {
      background-color: var(--bgcolor);
      color: var(--color);
}

p {
      padding: 2rem;
}

a,
a:visited {
      color: var(--color);
      text-decoration: none;
}

a:active,
a:hover {
      color: beige;
}

ul {
      padding: var(--padding);
}

/* li {} */


/* || ELEMENTS || */

/* HEADER */
.header {
      background-image: radial-gradient(rgb(0, 0, 80), #070713);
      /*       padding: var(--padding); */
      color: var(--color);
      height: 100px;
}

.header__div {
      width: 300px;
      height: inherit;
}

.header__h1 {
      height: 50px;
      display: flex;
      position: relative;
      top: 25px;
      justify-content: center;
      z-index: 1;
}

.header__figure {
      width: 300px;
      height: 80px;
      display: flex;
      position: absolute;
      top: 5px;
}

.search {
      background-color: hsla(0, 0%, 20%, 0.6);
      color: var(--color);
      width: 20vw;
      padding: 0.25em;
      border: var(--color);
      border-style: solid;
      border-radius: 1em;
      display: flex;
      position: absolute;
      justify-content: center;
      top: 2em;
      left: 70%;
}

/* MAIN */

/* main {}

/* nav bar */
.main__nav {
      position: sticky;
      top: 0;
      width: 100%;
      background-color: black;
      border-bottom: #fff;
      z-index: 2;
}

.main__ul {
      padding: 0.25rem;
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
}

/* main sections */
.main__h1 {
      color: var(--color);
      width: 100%;
      padding: var(--padding-tb) var(--padding-side);
}

.main__description {
      padding: var(--padding);
      margin: var(--margin);
      margin-top: 10px;
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
      animation: showDescription 4.5s;
}

@keyframes showDescription {
      0% {
            opacity: 0%;

      }

      100% {
            opacity: 100%;
      }
}

.main__types {
      color: var(--color);
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
}

.main__education {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

.main__games {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

.main__meeting {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

.main__tours {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

.main__future {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

/* main divs */
.div__description {
      width: 45%;
      height: auto;
      display: flex;
      position: relative;
      animation: showHeadset ease-in-out 4s;
}

@keyframes showHeadset {
      0% {
            opacity: 0%;
            top: -50px;
      }

      10% {
            opacity: 0%;
            top: -50px;
      }

      100% {
            opacity: 100%;
            top: 0px;
      }
}

.div__types {
      width: 30%;
      height: auto;
}

.div__education {
      width: 25%;
      height: auto;
}

/* in between sections*/
.div__transition {
      height: 800px;
      width: auto;
      display: block;
}

/* main article */
.main__article {
      background-image: radial-gradient(rgb(0, 0, 28), black);
      padding: 0px 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;
}

/*lists*/
.meeting__p,
.tours__p {
      padding: 5px 10px 20px;
}


/* FOOTER */
.footer__h1 {
      display: flex;
      justify-content: center;
}

.contact {
      padding: var(--padding);
      margin: var(--margin);
      background: var(--bgcolor_test);
}

.socials {
      padding: 0.25rem;
      padding-bottom: 1rem;
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 3rem;
}


/* || MODIFIERS || */
.meeting__p--1,
.tours__p--1 {
      padding-top: 10px;
      padding-bottom: 15px;
}

.img--chart {
      border-radius: 0%;
}