@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
      padding: 0%;
      margin: 0%;
      box-sizing: border-box;
      font-family: "Nunito", sans-serif;
}

img {
      display: block;
      width: 100%;
      height: auto;
}

:root {
      --bgcolor: #000;
      --bgcolor_test: #333;
      --color: whitesmoke;
      --padding: 1rem;
      --padding-tb: 0.25em;
      --padding-side: 2.5%;
      --margin: 1em;
}

/* || BLOCKS || */

html {
      background-color: var(--bgcolor);
      color: var(--color);
}

p {
      padding: 2rem;
}

a,
a:visited {
      color: var(--color);
      text-decoration: none;
}

a:active,
a:hover {
      color: beige;
}

/* || ELEMENTS || */

/* HEADER */
.header {
      background-image: radial-gradient(rgb(0, 0, 80), #070713);
      padding: var(--padding);
      color: var(--color);
      height: 15vh;
}

.header__h1 {
      padding: 1.5rem 1rem;
      width: 25%;
      display: flex;
      justify-content: center;
}

/* .header__div {
      adauga header-ul si imaginea intr-un singur div 
} 
*/

.header__figure {
      display: flex;
      position: absolute;
      top: 2vh;
      width: 25%;
      height: 10%;
}

div.search {
      background-color: hsla(0, 0%, 20%, 0.6);
      color: var(--color);
      width: 20vw;
      padding: 0.25em;
      border: var(--color);
      border-style: solid;
      border-radius: 1em;
      display: flex;
      position: absolute;
      justify-content: center;
      top: 2em;
      left: 70%;
}

/* MAIN */

/* main {}

/* nav bar */
.main__nav {
      position: sticky;
      top: 0;
      width: 100%;
      background-color: black;
      border-bottom: #fff;
      z-index: 2;
}

.main__ul {
      padding: 0.25rem;
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
}

/* main sections */
.main__h1 {
      color: var(--color);
      width: 100%;
      padding: var(--padding-tb) var(--padding-side);
}

.main__description {
      padding: var(--padding);
      margin: var(--margin);
      margin-top: 5vh;
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
      animation: showHeadset 5s 0.5s;
}

.main__types {
      color: var(--color);
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
}

.main__education {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

.main__games {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

.main__meeting {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

.main__tours {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

.main__future {
      padding: var(--padding);
      margin: var(--margin);
      max-width: 50%;
      background-color: var(--bgcolor_test);
      color: var(--color);
}

/* main divs */
.div__description {
      width: 45%;
      height: auto;
      display: flex;
      position: relative;
      animation: showHeadset 5s 0.5s;
}

@keyframes showHeadset {
      0% {
            opacity: 0%;
      }

      100% {
            opacity: 100%;
      }
}

.div__types {
      width: 30%;
      height: auto;
      display: flex;
      position: relative;
}

.div__education {
      width: 25%;
      height: auto;
      display: flex;
      position: relative;
      left: 10%;
}

/* in between sections*/
.div__transition {
      display: block;
      padding: 25vh;
}

/* main article */
.main__article {
      background-image: radial-gradient(rgb(0, 0, 28), black)
}

/* FOOTER */
.footer__h1 {
      display: flex;
      justify-content: center;
}

.contact {
      padding: var(--padding);
      margin: var(--margin);
      background: var(--bgcolor_test);
}

.socials {
      padding: 0.25rem;
      padding-bottom: 1rem;
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 3rem;
}


/* || MODIFIERS || */

.main--right {
      display: flex;
      float: right;
      flex-direction: row-reverse;
      align-items: center;
}

.main--left {
      display: flex;
      float: left;
      flex-direction: column;
}